.DS_Store
*.class

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/site/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/site/build


